// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        xkb {
            layout "us"
        }
    }
    mouse {
        accel-speed 0.3
        natural-scroll
    }
    touchpad {
        tap
        natural-scroll
        drag-lock
    }
}
